<div class="wsmenucontainer clearfix">
    <div class="overlapblackbg"></div>
    <div class="wsmobileheader clearfix"> <a id="wsnavtoggle" class="animated-arrow"><span></span></a></div>
    <div class="header"> 
    
    <!--Main Menu HTML Code-->
    <nav class="wsmenu clearfix">
      <ul class="mobile-sub wsmenu-list">
         <li><a href="JavaScript:void(0)" class="menu-scroll"><i class="fa fa-home"></i></a></li>
         <!-- <li><a href="#OwnerInfo">Owner Info</a></li> -->
         <li><a href="#CompanyProfile">About Us</a></li>
         <li><a href="#Services">Services</a></li>
         <li><a href="#Gallery">Gallery</a></li>
         <li><a href="#Review">Review</a></li>
         <li><a href="#Inquiry">Inquiry</a></li>
         <li><a href="#Location">Location</a></li>
         <li><a href="#Payment">Payment</a></li>
      </ul>
    </nav>
    </div>
    </div>