<!-- Inquiry Start -->
<section class="anchor-offset" id="Inquiry">
<div class="card-shadow clearfix reviewwrap">
  <h2>Inquiry</h2>
  <div class="card-indent">
    <div class="form-group">
      <input
        id="inquiry_uname"
        class="form-control"
        type="text"
        placeholder="Full Name"
      />
    </div>
    <div class="form-group">
      <input
        id="inquiry_email"
        class="form-control"
        type="email"
        placeholder="Email Address"
      />
    </div>
    <div class="form-group">
      <input
        id="inquiry_phone"
        class="form-control"
        type="tel"
        placeholder="Mobile Number"
      />
    </div>
    <div class="form-group">
      <textarea
        id="inquiry_desc"
        class="form-control message"
        placeholder="Write your Inquiry"
      ></textarea>
    </div>
    <div class="form-group">
      <button id="inquiry_submit" type="submit" class="sub-btn">
        Submit Inquiry
      </button>
    </div>
    <div id="inquiry-alert" style="display: none;">
      <p id="inquiry-alert-msg"></p>
    </div>
  </div>
</div>
</section>
